body{
    margin: 0;
}

#heading{
    color: white;
    text-align: center;
    font-size: 6em;
    background-color: #45b3e6;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    border-radius: 7px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 5%;
    text-shadow: 10px 10px 4px black;
}

#background{
    margin: 0;
    margin-top: -7%;
    background-image: url("/images/partyBlur.jpg");
    font-family: 'Nunito Sans', sans-serif;
    background-size: cover;
    min-height: 100vh;
    padding: 5%;
    padding-top: 10%;
    text-align: center;
}

hr{
    border: 0;
    background-color: black;
    height: 2px;
}

.inp{
    margin: 2%;
    font-size: 30pt;
    color: white;
    max-width: 90%;
    text-align: center;
    border-color: lightblue;
    background: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 7px;
    border-width: 3px;
    text-shadow: 4px 4px 2px black;
}

.borderFix{
    border: solid lightblue;
    border-width: 3px;
}

#wait{
    padding: 10px;
    font-size: 60pt;
    text-shadow: 6px 6px 3px black;
}

#newGameId{
    font-size: 50pt;
    padding: 10px;
    text-shadow: 6px 6px 3px black;
}

#start{
    margin-top: 3%;
    background-color: coral;
    font-size: 50pt;
    border-width: 5px;
    text-shadow: 5px 5px 3px black;
}

#allPlayersList{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

#host{
    margin-top: 50px;
    max-width: none;
    max-width: 40%;
    border-width: 3px !important;
}

.playerName{
    margin: auto;
    font-size: 25pt;
    border-radius: 7px;
    color: white;
    margin-top: 10px;
    box-shadow: 10px 10px 5px black;
    background: none;
    border: solid lightblue;
    max-width: 15%;
    padding: 7px;
    text-shadow: 4px 4px 2px black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }