body{
    background-image: url("/images/partyBlurPhone.jpg");
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background-size: 100%;
}

hr{
    border: 0;
    background-color: black;
    height: 4px;
    margin-top: 50px;
    max-width: 80%;
}

#top{
    font-size: 55pt;
    text-align: center;
    color: white;
    border: solid lightblue;
    border-width: 5px;
    box-shadow: 10px 10px 5px black;
    text-shadow: 7px 7px 3px black;
    max-width: 90%;
    margin: auto;
    border-radius: 5px;
}

#options{
    text-align: center;
}

#skip{
    background-color: orange !important;
    font-size: 60pt;
}

.optionButton{
    text-shadow: 7px 7px 3px black;
    color: white;
    display: block;
    font-size: 80pt;
    box-shadow: 10px 10px 5px black;
    text-decoration: none;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    border-radius: 7px;
    max-width: 85%;
    min-width: 20%;
    background: none;
    border: solid lightblue;
    border-width: 5px;

}

.optionButton:active{
    background-color: lightblue;
}

.optionButton:focus{
    background-color: lightblue;
}

.popup{
    box-shadow: 10px 10px 5px black;
    background-color: rgb(250, 174, 32);
    position: absolute;
    border-radius: 15px;
    margin: 3%;
    margin-top: 1%;
    padding: 10px;
    text-align: center;
    width: 90%;
    height: 90%;
}

#acceptText{
    text-shadow: 6px 6px 2.5px black;
    font-size: 60pt;
    box-shadow: 10px 10px 5px black;
    background-color: rgb(218, 47, 47);
    border-radius: 7px;
    margin: 10%;
    padding:10px;
    color: white;
}

#acceptImage{
    display: block;
    margin: auto;
}

.acceptButton{
    text-shadow: 6px 6px 2.5px black;
    color: white;
    display: block;
    font-size: 80pt;
    box-shadow: 10px 10px 5px black;
    background-color: green;
    text-decoration: none;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    border-radius: 7px;
    border: none;
}